alembic==0.9.8
aniso8601==2.0.0
Babel==2.9.1
beautifulsoup4==4.6.0
blinker==1.4
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
coverage==4.5.1
cryptography==1.7.2
decorator==4.2.1
enum34==1.1.6
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-OpenID==1.2.5
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
guess-language==0.2
idna==2.6
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
MySQL-python==1.2.5
numpy==1.14.0
pandas==0.22.0
pbr==3.1.1
PyAlgoTrade==0.18
pyasn1==0.4.2
pycparser==2.18
pycrypto==2.6.1
PyJWT==1.5.3
python-dateutil==2.6.1
python-editor==1.0.3
python-openid==2.2.5
python-weixin==0.3.0
pytz==2018.3
requests==2.18.4
simplejson==3.13.2
six==1.11.0
SQLAlchemy==1.2.2
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
tushare==1.1.5
typing==3.5.3.0
urllib3==1.22
Werkzeug==0.14.1
Whoosh==2.7.4
WTForms==2.1
xmltodict==0.11.0
